/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 10:39:17 AM
    Author     : jd
*/

.header-style {
    color: #80B2FF;
    font-family: sans-serif;
    font-size: 2em;
    text-align: match-parent;
}

.header-style2{
    font-size: 80%;
}

.save-button{
    background-color: #85E085;
}

.ui-menubar .ui-menuitem-link {
   font-size: 10px!important;
}

.east-panel{
    border: none;
}

.calendar {
    width: 50px;
}

.ui-datepicker {
    font-size: 12px!important;
    border-radius: 0px!important;
}

.ui-panelmenu-header {
    font-size: 16px!important;
    font-weight: normal!important;
    border-radius: 0px!important;
}

.ui-menu-list {
    font-size: 14px!important;
}

.ui-layout-container .ui-datepicker-inline .ui-datepicker-prev .ui-datepicker-next .ui-widget-header .ui-helper-clearfix .ui-inputfield{
    border-radius: 0px!important;
}

.ui-layout-unit, ui-panel-menu .ui-panelmenu-panel {
    border-radius: 0px!important;
}

.ui-button-text {
    font-size: 14px!important;
    font-weight: normal!important;
}

.ui-state-active {
    color: #212121!important;
}