/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 10:39:17 AM
    Author     : jd
*/

.header-style {
    color: #80B2FF;
    font-family: sans-serif;
    font-size: 2em;
    text-align: match-parent;
}

.header-style2{
    font-size: 80%;
}

.save-button{
    background-color: #85E085;
}

.panel-menu{
    color: #80B2FF;
    font-style: normal;
    font: menu;
}

.ui-menubar .ui-menuitem-link {
   font-size: 10px;
}

.east-panel{
    border: none;
}

.calendar {
    width: 50px;
}

.ui-datepicker {
    font-size: 12px!important;
}

